fastapi
uvicorn
streamlit
requests

PyPDF2
huggingface-hub

scikit-learn
numpy

groq

pydantic
python-dotenv
sqlalchemy
python-multipart

pypdf
pdfplumber

python-jose
passlib[bcrypt]
email-validator
streamlit-cookies-manager