fastapi
uvicorn
streamlit
requests

sentence-transformers
huggingface-hub

sentence-transformers==2.7.0

groq

pydantic
python-dotenv
sqlalchemy
python-multipart

pypdf
pdfplumber

python-jose
passlib[bcrypt]
email-validator
streamlit-cookies-manager